<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Error</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/exception.css}" />
</head>

<body>
	<div class="error-wrapper">

		<div class="error-text-container">
			<div class="title">
				<h1 class="title-text">An unknown error has occurred</h1>
			</div>
			<div class="error-short-desc">&emsp;Sorry for the
				inconvenience. Our team is looking into the issue.</div>
			<div class="error-cta">
				&emsp;Get back
				<a th:href="@{/}" id="home"> Home</a>
				&nbsp;and&nbsp;
				<a th:href="@{/design}" id="another">Get yourself a taco</a>
				or two.
			</div>
		</div>

		<div class="error-pic-container">
			<img alt="Firefly changing a bulb" th:src="@{/images/e_general.png}" />
		</div>

	</div>
</body>
</html>